.app-box {
  background: #9a9edc;
  height: 70vh;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  min-width: 350px;
  width: 100%;
}

.top-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loc-main {
  display: flex;
  align-items: center;
  gap: 5px;
}

.top-sec p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.input-box {
  width: 90%;
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  background: #ffffff;
  padding: 16px;
}

.search-box > input {
  border-radius: 4px;
  border: none;
  background: #ccc;
  padding: 8px;
}

.search-box > input:focus {
  border: none;
  outline: none;
}

.search-box button {
  border-radius: 4px;
  border: none;
  padding: 8px;
  background: #3a3974;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 10px;
}

.search-box {
  display: flex;
  gap: 10px;
}

.search-box button i {
  padding: 5px;
}

.search-box button:hover {
  background: #3a3974 !important;
  color: #fff !important;
}

.weather-body img {
  width: 100px;
  align-self: center;
}

.weather-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.weather-body .temp {
  text-align: center;
}

.wind {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.humid {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background: #9692e2 !important;
  border-radius: 6px;
  padding: 15px;
  color: #3a3974;
}

.humid i,
.additional-info i {
  font-size: 12px;
  gap: 10px;
  display: flex;
  align-items: center;
}

.humid i::before,
.additional-info i::before {
  font-size: 25px;
}

.desc {
  text-align: center;
  margin: 0;
}

.desc {
  text-transform: capitalize;
}

.desc p {
  margin: 0;
}

.temp,
.desc {
  font-size: 20px;
  font-weight: 500;
}

.temp-info-main {
  background: #9692e2;
  border-radius: 6px;
  color: #3a3974;
  padding: 16px;
}

/* night mode toggler */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3a3974;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* nightmode active */

.app-box.active {
  background: #1b1b32;
}

.temp-info-main.active {
  color: #e1e1e1;
  background: #252347;
}

.additional-info.active {
  color: #e1e1e1;
  background: #252347 !important;
}

.input-box.active {
  background: #3a3974;
  color: #e1e1e1;
}

.loc-name.active {
  color: #e1e1e1;
}
